body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    font-size: 16px;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5em;
    padding: 25px;
    color: white;
    background-image: url("../images/wood.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: hsla(48, 57%, 62%, 1);
    
}

p {
  color: white;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

.container{
    display: flex;
    max-width: 100%;
    height: 600px;
    width: 1100px;
    background-color:black;
    margin: 5 auto;
    align-self: center;
}

.mid{
    max-width: 1000px;
    height: 600px;
    background-color:black;
    margin:0 auto;
    padding:1px 20px 0px 20px;
    align-content: center;
    align-items: center;
}

.conc{
    padding: 25px;
    color: white;
    background-image: url("../images/wood.jpg");
    background-position: center;
}

.concurrentie1, .concurrentie2, .concurrentie3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 700px;
    width: 1000px;
    background-color:black;
    margin: 5 auto;
    align-self: center;
    border-radius: 10px;
    padding: 20px;
}

.imageconc {
    float: initial;
    margin: 10px;
}

a{
    color: hsla(48, 57%, 62%, 1);
}

.scenario{
    display: flex;
    max-width: 100%;
    height: 600px;
    width:900px;
    margin: 5 auto;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;

}


.us{

    max-width: 100%;
    height: 300px;
    width: 300px;
    margin: 5px;
    background-color:black;
    align-self: center;
    flex-wrap: wrap; 
    padding: 20px;
    align-content: center;
    border-radius: 10px; 
}

.kleuren{
    display: flex;
    flex-wrap: wrap;
}

.kleur{
    width: 170px;
    margin: 30px;
}

h2{
    font-size: 44px; 
}

.titel{
    font-size: 32px;
    color: hsla(48, 57%, 62%, 1);
}

.highlights{
    color: hsla(48, 57%, 62%, 1);
    font-weight: bold;
}

.menu{
    width: 900px;
    align-self: center;
}

.indienen{
    width: 120px;
}